body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  padding: 30px;
  margin: 7rem auto;
  width: 700px;
  border: var(--border-a);
  background-color: #e0e0e0;
  border-radius: 5px;
  box-shadow:  5px 5px 9px #afafaf,
  -5px -5px 9px #ffffff;
}
.rm {
  background: #ff6c00;
  border-radius: 50%;
  color: #ffffff;
  border: var(--border-a);  
  border-radius: 50%;
  box-shadow:  1px 2px 2px #afafaf,
  -5px -5px 9px #ffffff;
}
.rm:hover {
  background: #773100;
  transition: 300ms;
}
.title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.inpAdd,
.btnOpenModal,
.btnAdd {
  padding: 3px 1rem;
  border-radius: 7px;
  border: 1px solid #4d4d4d;
}
.btnOpenModal {
  font-weight: 700;
}
.btnOpenModal:hover,
.btnAdd:hover {
  color: #ffffff;
  background-color: #4d4d4d;
  transition: 300ms;
}
.btnAdd {
  margin-left: 1rem;
  font-weight: 700;
}
.done {
  text-decoration: line-through;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}