.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(33, 31, 31, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
.modal-window {
  border: var(--border-a);
  background-color: #c2c2c2;
  border-radius: 9px;
  box-shadow:  3px 3px 1px #afafaf,
  -1px -3px 9px #ffffff;
  margin-top: 10%;
  width: 399px;
  height: 200px;
  padding: 2rem;
}
.closeModal {
  padding: 3px 1rem;
  border-radius: 7px;
  border: 1px solid #4d4d4d;
  font-weight: 700;
}
.closeModal:hover {
    color: #ffffff;
    background-color: #4d4d4d;
    transition: 300ms;
}